.printHeader {
    background-color: #010a8f;
    color: white;
    /* padding: 20px; */
    text-align: center;
}

.footer-bar {
    margin-top: 30px;
    text-align: center;
    background-color: rgb(235, 127, 3);
    color: white;
    padding: 10px;
    font-size: 14px;
}

/*.left-vertical-line {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    !*left: 0;*!*/
/*    width: 3px;             !* Line thickness *!*/
/*    height: 100vh;          !* Full viewport height *!*/
/*    background-color: yellow;*/
/*}*/

/* @media - browser magin print kirimedi background colour auto iwath karanawa memagin warna iwath wima walakwai */
/* body - body eka cover karai, * - siyaluma htnl element cover karai :after :before - element samaga join wee athi siyaluma daynamic designs cover karai*/
/* -webkit- chrome browser sadaha vishasha kethayaki(vendor prefix) */
/* print-color-adjust - background image photos elesama print kirimata bala karai */
/* !important - wenatha css bootstrap walin balapam wen ne */
/* print-color-adjust - standerd kkramaya mozilla firefox weni thana wala weda karai */
@media print {

    body,
    * {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }
}