<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragment :: headerfragment}"></head>

<body>

    <!-- nav bar start -->
    <nav th:replace="~{fragment :: topnavbarfragment}"> </nav>
    <!-- nav bar end -->

    <div class="container-fluid"> <!--Use for a full width container-->
        <!-- title area start -->
        <div class="row p-1 mt-1"><!-- 0.25rem padding on all 4 sides of the element (1 rem = 16 pixels)
            0.25rem  margin-top  -->

            <div class="col-12 p-3 d-flex justify-content-center divTitle">
                <!--1rem padding on all 4 sides of the element (1 rem = 16 pixels) |Apply display utilities to create a flexbox container and convert direct child elements to flex items.| justify content center | CSS class  -->
                <i class="fa-solid fa-list fa-2xl mt-3" style="color: #fcfcfd;"></i>
                <h2 class="h2 ms-3">Price Request Management</h2><!--1rem set margin start  -->
            </div>
        </div>
        <!-- title area end -->

        <!-- offcanvas button area start -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <button class="btn btn-primary offCanvasButton" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom">
                    <i class="fa-solid fa-circle-plus"></i>
                    Add New Price Request
                </button>
            </div>
            <div class="col-9"></div>
        </div>
        <!-- offcanvas button area end -->

        <!-- table area start -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 mt-1 divTable">
                <div class="container-fluid">
                    <table class="table" id="tablePriceRequest">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Price Request No</th>
                                <th>Items</th>
                                <th>Required Date</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody id="tablePriceRequestBody">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- table arae end -->

        <!-- offcanvas area start -->
        <div class="offcanvas offcanvas-bottom offCanvasArea" style="height: 600px;" tabindex="-1" data-bs-scroll="true"
            data-bs-backdrop="false" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-body small">

                <!-- form area start -->
                <div class="row">
                    <div class="col-12">
                        <div class="divForm"><!--css class | 1rem set margin top | 4rem set margin end  -->
                            <form onsubmit="return false" id="formPriceRequest">

                                <!-- required mark and offcanvas close button start -->
                                <div class="row">

                                    <!-- offcanvas close button start -->
                                    <div class="col-1">
                                        <button type="button" class=" offCanvasCloseBtn" data-bs-dismiss="offcanvas"
                                            aria-label="Close">X</button>
                                    </div>
                                    <!-- offcanvas close button close -->

                                    <div class="col-9"></div>

                                    <!-- required mark start -->
                                    <div class="col-1">
                                        <span class="fw-bold text-danger">*Required</span><!--The letters are red  -->
                                    </div>
                                    <!-- required mark end -->

                                    <div class="col-1"></div>

                                </div>
                                <!-- required mark and offcanvas close button end -->

                                <!-- Supplier , Require Date row start-->
                                <div class="row mt-4">

                                    <!-- Supplier area start-->
                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text lablBg" for="selectSupplier">Supplier &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;:
                                                <span class="fw-bold text-danger">*</span></label>
                                            <select class="form-select" id="selectSupplier"
                                                onchange="selectDainamicElementValidater(this , 'priceRequest', 'supplier_id')"
                                                onclick="selectDainamicElementValidater(this , 'priceRequest', 'supplier_id')"
                                                data-bs-toggle="tooltip"
                                                title="Select the Supplier correctly here.">
                                                <option selected disabled>Select Supplier</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Supplier area end-->

                                    <!-- Require Date start-->
                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text lablBg">Require Date :
                                                <span class="fw-bold text-danger">*</span>
                                            </span>
                                            <input type="date" placeholder="
                                            Enter Required Date " class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" id="dateRequireDate" onkeyup="textValidator(this, '^.*$', 'priceRequest', 'requireddate')"
                                                onclick="textValidator(this, '^.*$', 'priceRequest', 'requireddate')"
                                                oninput="textValidator(this, '^.*$', 'priceRequest', 'requireddate')"
                                                required data-bs-toggle="tooltip"
                                                title="Please enter the required date correctly">
                                        </div>

                                    </div>
                                    <!-- Require Date end-->
                                     </div>
                                <!-- Supplier , Require Date row end-->

                                <!-- Price RequestStatus , note row start-->
                                <div class="row mt-4">

                                    <!-- Price Request Status area start-->
                                    <div class="col-6">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text lablBg" for="selectItemStatus">Price Request Status:
                                                <span class="fw-bold text-danger">*</span></label>
                                            <select class="form-select" id="selectPriceRequestStatus"
                                                onchange="selectDainamicElementValidater(this , 'priceRequest', 'pricelistrequeststatus_id')"
                                                onclick="selectDainamicElementValidater(this , 'priceRequest', 'pricelistrequeststatus_id')"
                                                data-bs-toggle="tooltip"
                                                title="Select the Supplier Status correctly here.">
                                                <option selected disabled>Select Price Request Status</option>
                                                <option value=""></option>
                                                <option value=""></option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Price Request Status area end-->

                                    <!-- note area start -->
                                    <div class="col-6">
                                        <div class="input-group">
                                            <span class="input-group-text lablBg">Note&nbsp;: <span
                                                    class="text-danger">(optional)</span></span>
                                            <textarea id="textNote" class="form-control" placeholder="Enter Note" aria-label="With textarea"
                                                onkeyup="textValidator(this, '^.*$', 'priceRequest', 'note')"
                                                onclick="textValidator(this, '^.*$', 'priceRequest', 'note')"
                                                data-bs-toggle="tooltip"
                                                title="Enter a note about the Price Request here"></textarea>
                                        </div>
                                    </div>
                                    <!-- note area end -->
                                 </div>
                                <!-- Price RequestStatus , note row end-->

                                <!-- inner form area start -->
                                <div class="row mt-4">

                                    <!-- <div class="col-2"></div> -->
                                    <!-- All Items area start -->
                                    <div class="col-5">
                                        <label for="selectAllItems" class="form-label fw-bold h5">All Items : </label>
                                        <select class="form-select" id="selectAllItems" multiple style="height: 165px;"></select>
                                    </div>
                                    <!-- All Items area end -->
                                    <!-- Button area start -->
                                    <div class="col-2 mt-4 d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <button type="button" onclick="addSelectedItems()" style="width : 75px;"
                                                class="btn  offCanvasCloseBtn"> <i class="fa-solid fa-play"
                                                    style="color: #fcfcfc;"></i> </button><br>
                                            <button type="button" onclick="addAllItems()" style="width : 75px;"
                                                class="btn mt-1 offCanvasCloseBtn"> <i class="fa-solid fa-forward"
                                                    style="color: #f7f7f7;"></i> </button><br>
                                            <button type="button" onclick="removeSelectedItems()" style="width : 75px;"
                                                class="btn mt-1 offCanvasCloseBtn"> <i
                                                    class="fa-solid fa-play fa-flip-horizontal"
                                                    style="color: #ffffff;"></i> </button><br>
                                            <button type="button" onclick="removeAllItems()" style="width : 75px;"
                                                class="btn mt-1 offCanvasCloseBtn"> <i class="fa-solid fa-backward"
                                                    style="color: #ffffff;"></i> </button><br>
                                        </div>
                                    </div>
                                    <!-- Button area end -->
                                    <!-- Selected Items area start -->
                                    <div class="col-5">
                                        <label for="selectSelectedItems" class="form-label fw-bold h5">Selected Items :
                                        </label>
                                        <select class="form-select" id="selectSelectedItems" multiple style="height: 165px;"></select>
                                    </div>
                                    <!-- Selected Items area end -->
                                    <!-- <div class="col-2"></div> -->

                                </div>
                                <!-- inner form area end -->

                                

                                <!-- button row start-->
                                <div class="row mt-3 mb-4">

                                    <div class="col-1"></div>

                                    <!-- clear btn area start -->
                                    <div class="col-2">
                                        <button type="button" class="btn btnClear">
                                            <i class="fa-solid fa-eraser"></i>
                                            Clear
                                        </button>
                                    </div>
                                    <!-- clear btn area end -->

                                    <div class="col-5"></div>

                                    <!-- update button area start -->
                                    <div class="col-2">
                                        <button type="button" id="updateButton" class=" btn btnUpdate"
                                            onclick="buttonItemUpdate()">
                                            <i class="fa-solid fa-file-pen"></i>
                                            Update
                                        </button>
                                    </div>
                                    <!-- update button area end -->

                                    <!-- Add btn area start -->
                                    <div class="col-2">
                                        <button type="button" id="submitButton" class=" btn btnAdd"
                                            onclick="buttonPriceRequestSubmit()">
                                            <!-- button Submit function eka (item.js)-->
                                            <i class="fa-solid fa-file-circle-plus"></i>
                                            Add
                                        </button>
                                    </div>
                                    <!-- Add btn area end -->

                                </div>
                                <!-- button row end -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- offcanvas area end -->

    </div>

    <!-- link js files -->
    <script src="/jsFiles/common.js"></script>

    <script src="/jsFiles/tableFunction.js"></script>

    <script src="/jsFiles/validatorFunction.js"></script>

    <script src="/jsFiles/priceRequest.js"></script>

</body>

</html>