<!DOCTYPE html>
<html lang="en">

<head th:replace="~{fragment :: headerfragment}"></head>

<body>

    <!-- nav bar start -->
    <nav th:replace="~{fragment :: topnavbarfragment}"> </nav>
    <!-- nav bar end -->

    <div class="container-fluid"> <!--Use for a full width container-->
        <!-- title area start -->
        <div class="row p-1 mt-1">
            <div class="col-12 p-3 d-flex justify-content-center divTitle">
                <i class="fa-solid fa-tags fa-2xl mt-3" style="color: #fcfcfd;"></i>
                <h2 class="h2 ms-3">Seasonal Discount Management</h2>
            </div>
        </div>
        <!-- title area end -->

        <!-- offcanvas button area start -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-2">
                <button class="btn btn-primary offCanvasButton" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom"
                    onclick="refreshSeasonalDiscountForm()">
                    <i class="fa-solid fa-circle-plus"></i>
                    Add New Discount
                </button>
            </div>
            <div class="col-9"></div>
        </div>
        <!-- offcanvas button area end -->

        <!-- table area start -->
        <div class="row">
            <div class="col-1"></div>
            <div class="col-10 mt-1 divTable">
                <div class="container-fluid">
                    <table class="table" id="tableSeasonalDiscount">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Offer Name</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Invoice Amount</th>
                                <th>Discount</th>
                                <th>Offer Type</th>
                            </tr>
                        </thead>
                        <tbody id="tableSeasonalDiscountBody">

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-1"></div>
        </div>
        <!-- table arae end -->

        <!-- offcanvas area start -->
        <div class="offcanvas offcanvas-bottom offCanvasArea" style="height: 600px;" tabindex="-1" data-bs-scroll="true"
            data-bs-backdrop="false" id="offcanvasBottom" aria-labelledby="offcanvasBottomLabel">
            <div class="offcanvas-body small">

                <!-- form area start -->
                <div class="row">
                    <div class="col-12">
                        <div class="divForm">
                            <form onsubmit="return false" id="formSeasonalDiscount">

                                <!-- required mark and offcanvas close button start -->
                                <div class="row">

                                    <div class="col-1">
                                        <button type="button" class=" offCanvasCloseBtn" data-bs-dismiss="offcanvas"
                                            aria-label="Close">X</button>
                                    </div>

                                    <div class="col-9"></div>

                                    <div class="col-1">
                                        <span class="fw-bold text-danger">*Required</span>
                                    </div>
                                    <div class="col-1"></div>
                                </div>
                                <!-- required mark and offcanvas close button end -->

                                <!-- Offer Name , Start Date and End Date row start-->
                                <div class="row mt-4">

                                    <!-- Offer Name area start -->
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text lablBg">Offer Name :
                                                <span class="fw-bold text-danger">*</span>
                                            </span>
                                            <input type="text" placeholder="Enter Offer Name" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" id="textOfferName"
                                                oninput="textValidator(this, '^.*$', 'seasonalDiscount', 'discountname')"
                                                onclick="textValidator(this, '^.*$', 'seasonalDiscount', 'discountname')"
                                                required data-bs-toggle="tooltip"
                                                title="Please enter Offer name correctly">
                                        </div>
                                    </div>
                                    <!-- Offer Name area end -->

                                    <!-- Start Date area start-->
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text lablBg">Start Date &nbsp; &nbsp; &nbsp; &nbsp;
                                                &nbsp; :
                                                <span class="fw-bold text-danger">*</span></span>
                                            <input type="date" placeholder="Enter Start Date" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" id="dateStartDate" required
                                                onchange="textValidator(this, '^[0-9]{4}-[0-9]{2}-[0-9]{2}$', 'seasonalDiscount', 'validfrom')"
                                                onclick="textValidator(this, '^[0-9]{4}-[0-9]{2}-[0-9]{2}$', 'seasonalDiscount', 'validfrom')"
                                                data-bs-toggle="tooltip" title="Enter the Start Date correctly here.">
                                        </div>
                                    </div>
                                    <!-- Start Date area end-->

                                    <!-- End Date area start -->
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text lablBg" id="inputGroup-sizing-default">End
                                                Date
                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; <span
                                                    class="fw-bold text-danger">*</span>
                                            </span>
                                            <input type="date" placeholder="Enter End Date" class="form-control"
                                                aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" id="dateEndDate"
                                                onchange="textValidator(this, '^[0-9]{4}-[0-9]{2}-[0-9]{2}$', 'seasonalDiscount', 'validto')"
                                                onclick="textValidator(this, '^[0-9]{4}-[0-9]{2}-[0-9]{2}$', 'seasonalDiscount', 'validto')"
                                                required data-bs-toggle="tooltip"
                                                title="Please enter End Date correctly">
                                        </div>
                                    </div>
                                    <!-- End Date area end -->
                                </div>
                                <!-- Offer Name , Start Date and End Date row end-->

                                <!-- Maximum Bill Amount , Discount Rate area and Offer Type row start-->
                                <div class="row mt-4">

                                    <!-- Maximum Bill Amount area start-->
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text lablBg">Invoice Amount :
                                                <span class="fw-bold text-danger">*</span></span>
                                            <input type="number" placeholder="Enter Max Discount Amount"
                                                class="form-control" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" id="numMaxBillAmount"
                                                required
                                                onkeyup="textValidator(this, '^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$', 'seasonalDiscount', 'maximaldiscount')"
                                                onclick="textValidator(this, '^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$', 'seasonalDiscount', 'maximaldiscount')"
                                                data-bs-toggle="tooltip"
                                                title="Enter the Invoice Amount correctly here.">
                                        </div>
                                    </div>
                                    <!-- Maximum Bill Amount area end-->

                                    <!-- Discount Rate area start-->
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text lablBg">Discount Amount&nbsp; &nbsp; &nbsp; :
                                                <span class="fw-bold text-danger">*</span></span>
                                            <input type="number" placeholder="Enter Discount Amount"
                                                class="form-control" aria-label="Sizing example input"
                                                aria-describedby="inputGroup-sizing-default" id="numberDiscountRate"
                                                required
                                                onkeyup="textValidator(this, '^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$', 'seasonalDiscount', 'discount')"
                                                onclick="textValidator(this, '^(([1-9][0-9]{0,5})|([1-9][0-9]{0,5}[.][0-9]{2}))$', 'seasonalDiscount', 'discount')"
                                                data-bs-toggle="tooltip"
                                                title="Enter the Discount Amount correctly here.">
                                        </div>
                                    </div>
                                    <!-- Discount Rate area end -->

                                    <!-- Offer Type area start-->
                                    <div class="col-4">
                                        <div class="input-group mb-3">
                                            <label class="input-group-text lablBg" for="selectOfferType">Offer Type
                                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                                <span class="fw-bold text-danger">*</span></label>
                                            <select class="form-select" id="selectOfferType"
                                                onchange="selectDainamicElementValidater(this , 'seasonalDiscount', 'offertype_id')"
                                                onclick="selectDainamicElementValidater(this , 'seasonalDiscount', 'offertype_id')"
                                                data-bs-toggle="tooltip" title="Select the Offer Type correctly here."
                                                required>
                                                <option value="" selected disabled>Select Offer Type</option>
                                            </select>
                                        </div>
                                    </div>
                                    <!-- Offer Type area end-->

                                </div>
                                <!-- Maximum Bill Amount  , Discount Rate area and Offer Type row end-->

                                <!-- inner form area start -->
                                <div class="row mt-4">

                                    <div class="col-2"></div>

                                    <!-- All items area start -->
                                    <div class="col-3">
                                        <label for="selectAllItem" class="form-label fw-bold h5">All Items : </label>
                                        <select class="form-select" id="selectAllItem" multiple
                                            style="height: 165px;"></select>
                                    </div>
                                    <!-- All items area end -->
                                    <!-- Button area start -->
                                    <div
                                        class="col-2 mt-4 d-flex flex-column align-items-center justify-content-center">
                                        <div>
                                            <button type="button" onclick="addSelectedItem()" style="width : 75px;"
                                                class="btn  offCanvasCloseBtn"> <i class="fa-solid fa-play"
                                                    style="color: #fcfcfc;"></i> </button><br>
                                            <button type="button" onclick="addAllItem()" style="width : 75px;"
                                                class="btn mt-1 offCanvasCloseBtn"> <i class="fa-solid fa-forward"
                                                    style="color: #f7f7f7;"></i> </button><br>
                                            <button type="button" onclick="removeSelectedItem()" style="width : 75px;"
                                                class="btn mt-1 offCanvasCloseBtn"> <i
                                                    class="fa-solid fa-play fa-flip-horizontal"
                                                    style="color: #ffffff;"></i> </button><br>
                                            <button type="button" onclick="removeAllItem()" style="width : 75px;"
                                                class="btn mt-1 offCanvasCloseBtn"> <i class="fa-solid fa-backward"
                                                    style="color: #ffffff;"></i> </button><br>
                                        </div>
                                    </div>
                                    <!-- Button area end -->
                                    <!-- Selected items area start -->
                                    <div class="col-3">
                                        <label for="selectSelectedItem" class="form-label fw-bold h5">Selected Items :
                                        </label>
                                        <select class="form-select" id="selectSelectedItem" multiple
                                            style="height: 165px;"></select>
                                    </div>
                                    <!-- Selected items area end -->
                                    <div class="col-2"></div>

                                </div>
                                <!-- inner form area end -->



                                <!-- button row start-->
                                <div class="row mt-3 mb-4">

                                    <div class="col-1"></div>

                                    <!-- clear btn area start -->
                                    <div class="col-2">
                                        <button type="button" class="btn btnClear"
                                            onclick="clearSeasonalDiscountForm()">
                                            <i class="fa-solid fa-eraser"></i>
                                            Clear
                                        </button>
                                    </div>
                                    <!-- clear btn area end -->

                                    <div class="col-5"></div>

                                    <!-- update button area start -->
                                    <div class="col-2">
                                        <button type="button" id="updateButton" class=" btn btnUpdate"
                                            onclick="buttonSeasonalDiscountUpdate()">
                                            <i class="fa-solid fa-file-pen"></i>
                                            Update
                                        </button>
                                    </div>
                                    <!-- update button area end -->

                                    <!-- Add btn area start -->
                                    <div class="col-2">
                                        <button type="button" id="submitButton" class=" btn btnAdd"
                                            onclick="buttonSeasonalDiscountSubmit()">
                                            <i class="fa-solid fa-file-circle-plus"></i>
                                            Add
                                        </button>
                                    </div>
                                    <!-- Add btn area end -->

                                </div>
                                <!-- button row end -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- offcanvas area end -->

    </div>

    <!-- view/print item -->
    <!-- Modal -->
    <!-- offcanvas area start -->
    <div class="offcanvas offcanvas-bottom offCanvasArea" style="height: 600px;" tabindex="-1" data-bs-scroll="true"
        data-bs-backdrop="false" id="offcanvasBottomSeasonalDiscountView" aria-labelledby="offcanvasBottomLabel">
        <div class="offcanvas-header">
            <div class="row">

                <div class="col-1">
                    <button type="button" class=" offCanvasCloseBtn" data-bs-dismiss="offcanvas"
                        aria-label="Close">X</button>
                </div>

                <div class="col-11"></div>

            </div>
        </div>
        <div class="offcanvas-body small">

            <!--user print view area start-->

            <head>
                <!-- link css file -->
                <link rel="stylesheet" href="/Style/printView.css">
            </head>

            <body>
                <div class="container-fluid bodyPrintView">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-10">
                            <!--udin thiras kaha paata irak Adiima-->
                            <div style="height: 15px; background-color: rgb(233, 125, 2);"></div>

                            <div class="printHeader">
                                <div class="row">
                                    <div class="col-9 mt-4">
                                        <h1>Seasonal Discount Details</h1>
                                    </div>
                                    <div class="col-3">
                                        <img src="/image/printView.png" alt="Logo" class="img-fluid" width="300"
                                            height="120">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"></div>
                                <div class="col-6">
                                    <table style="border: none;">

                                        <tbody style="border: none;">
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Offer Name
                                                </th>
                                                <th style="color: black; border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="discountNameView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Start Date</th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="startDateView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black;border: none; text-align: left;">End Date</th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="endDateView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Max Discount
                                                    Amount
                                                </th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="maxDiscountView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Discount Amount
                                                </th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="discountAmountView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Offer Type</th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="offerTypeView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Selected Items
                                                </th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="selectedItemsView"></th>
                                            </tr>
                                            <tr>
                                                <th style="color:black; text-align: left;border: none;">Added Date</th>
                                                <th style="color: black;border: none;"> &nbsp; &nbsp; :- &nbsp;
                                                    &nbsp; </th>
                                                <th style="color:black; text-align: left; font-style: italic; font-weight: 500;border: none;"
                                                    id="addedDateView"></th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-3"></div>
                            </div>
                            <!-- user view table area end -->

                            <div class="footer-bar">
                                Contact: 033-2245678 | Email: info@brightbookshop.lk
                            </div>
                        </div>
                        <div class="col-1"></div>
                    </div>

                </div>
            </body>
            <div class="row mt-3">
                <div class="col-10"></div>
                <div class="col-2">
                    <button type="button" class=" offCanvasCloseBtn p-2" onclick="buttonPrintRow()">
                        <i class="fa-solid fa-print" style="color: #ffffff;"></i>
                        Print</button>
                </div>
            </div>
        </div>
    </div>

    <!-- link js files -->
    <script src="/jsFiles/common.js"></script>

    <script src="/jsFiles/tableFunction.js"></script>

    <script src="/jsFiles/validatorFunction.js"></script>

    <script src="/jsFiles/seasonalDiscount.js"></script>

</body>

</html>